.attention
	p.attention__age 18+
	p.attention__text Ces offres s’adressent uniquement aux adultes (18 ans et plus) — veillez toujours à jouer de façon responsable et mesurée.
header.header
	nav.nav
		ul.nav__list
			li.nav__item.des
				a(href="#offers").nav__link Offres
			li.nav__item.des
				a(href="#aboutUs").nav__link À propos de nous
			li.nav__item.nav__logo
				a(href="/index.html").nav__link
					img(src="img/header-logo.png" alt="Сasino en ligne")
			li.nav__item.des
				a(href="#faq").nav__link FAQ
			li.nav__item.des
				a(href="#responsGame").nav__link Jeu responsable
		button(type="button" data-menu-button).nav__menu-btn
			svg(width="25" height="25").nav__menu-btn__icon
				path(d="M6.4 11.734v-2.134h19.2v2.134h-19.2zM6.4 17.066h19.2v-2.133h-19.2v2.133zM6.4 22.4h19.2v-2.134h-19.2v2.134z" fill="#967140")
		ul(data-menu).nav__list__mob
			li.nav__item
				a(href="#offers").nav__link Offres
			li.nav__item
				a(href="#aboutUs").nav__link À propos de nous
			li.nav__item
				a(href="#faq").nav__link FAQ
			li.nav__item
				a(href="#responsGame").nav__link Jeu responsable
main
	section.hero
		h1.hero__title Les meilleurs casinos en ligne<br>agréés en France
		.hero__logo
			img(src="img/hero-logo.png" alt="Сasino en ligne")
		p.hero__text Découvrez notre guide spécialisé des casinos en ligne les plus fiables et légaux<br>en France. Chaque opérateur est agréé par l’ANJ<br>et évalué selon des standards rigoureux de sécurité et de qualité de jeu.
	section#offers.offers
		h2.offers__title.title nos offres exclusives
		p.offers__text.sub-title Une liste de recommandation unique : validée selon nos<br>standards (licences, KYC, SSL, réputation) et adaptée aux mobiles.
		.offers__item
			.offers__item__content
				.offers__item__logo
					img(src="img/offer-logo.png" alt="Сasino en ligne")
				.offers__item__discr
					p.offers__item__discr__title zeturf
					.offers__item__rating
						p.offers__item__rating__stars ★★★★★
						p.offers__item__rating__text Avis utilisateurs : 12 130
					.offers__item__pay
						img(src="img/visa.png" alt="Сasino en ligne")
						img(src="img/mastercard.png" alt="Сasino en ligne")
						img(src="img/neteller-skrill.jpg" alt="Сasino en ligne")
						img(src="img/paypal.png" alt="Сasino en ligne")
						img(src="img/apple-pay.jpg" alt="Сasino en ligne")
				.offers__item__bonus
					h3.offers__item__bonus__title Bonus jusqu’à 100€
					p.offers__item__bonus__text + Freebets offerts sur le premier pari
				.offers__item__link
					a(href="https://zeturf.fr/" target="_blank") jouer
			.offers__item__attetion
				p.offers__item__attetion__text Attention :
				p.offers__item__attetion__text 18+. Bonus réservés aux nouveaux inscrits. Des conditions s’appliquent. Jouez avec responsabilité. Besoin de soutien ?
				a(href="https://joueurs-info-service.fr/" target="_blank").offers__item__attetion__link Joueurs Info Service
	section#faq.faq
		h2.faq__title.title faq
		p.faq__text.sub-title Dans cette section, nous avons rassemblé les réponses aux questions les plus fréquemment posées par nos<br>clients. Consultez-les; vous trouverez peut-être la réponse immédiatement.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Des bonus de bienvenue attractifs
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Optez pour des offres généreuses comme les bonus de dépôt ou les freebets, idéales pour bien démarrer votre parcours de jeu.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Un choix varié de jeux
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Assurez-vous que la plateforme propose un large catalogue de jeux et des tournois adaptés à tous les profils de joueurs.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Des tournois renouvelés fréquemment
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Privilégiez les sites qui organisent régulièrement de nouveaux tournois pour garder une expérience dynamique et motivante.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Retraits simples et rapides
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Sélectionnez des plateformes qui garantissent des retraits rapides, sécurisés et accessibles avec plusieurs moyens de paiement.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Support client disponible
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Vérifiez que l’assistance est efficace et joignable par chat en direct, e-mail ou téléphone, 24h/24 et 7j/7 si possible.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Des RTP avantageux
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Les sites sérieux affichent des taux de retour compétitifs, garantissant plus de transparence et d’équité dans le jeu.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Paiements diversifiés et sécurisés
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Choisissez des plateformes offrant plusieurs méthodes de dépôt et de retrait, alliant sécurité et flexibilité.
		details.faq__drop-menu
			summary.faq__drop-btn
				p.faq__drop-menu__title Programmes de fidélité enrichissants
				.faq__drop-btn__arrow
					svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M18.3842 8.25739L19.7984 9.67161L12.7274 16.7427L5.65625 9.67158L7.07046 8.25736L12.7274 13.9143L18.3842 8.25739Z" fill="#967140")
			.drop__wrap
				p.drop__text Les meilleurs casinos récompensent leurs joueurs réguliers avec des bonus, avantages exclusifs et systèmes de fidélité attractifs.
footer#responsGame.footer
	ul.footer__tech-page__list
		li.footer__tech-page__item
			a(href="https://www.gambleaware.org/" target="_blank").footer__tech-page__link
				img(src="img/gambleaware.png" alt="Сasino en ligne")
		li.footer__tech-page__item
			a(href="https://www.gamcare.org.uk/" target="_blank").footer__tech-page__link
				img(src="img/gamcare.jpg" alt="Сasino en ligne")
		li.footer__tech-page__item
			a(href="https://mediateurdesjeuxenligne.fr/" target="_blank").footer__tech-page__link
				img(src="img/mediateurdesjeuxenligne.jpeg" alt="Сasino en ligne")
		li.footer__tech-page__item
			a(href="https://anj.fr/english" target="_blank").footer__tech-page__link
				img(src="img/anj.jpg" alt="Сasino en ligne")
		li.footer__tech-page__item
			a(href="https://www.joueurs-info-service.fr/" target="_blank").footer__tech-page__link
				img(src="img/joueurs.png" alt="Сasino en ligne")
		li.footer__tech-page__item
			a(href="https://mediateur-jeux.fr/" target="_blank").footer__tech-page__link
				img(src="img/mediateurdesjeuxenligne.jpeg" alt="Сasino en ligne")
	.footer__discr
		.footer__discr__danger
			img(src="img/18.png" alt="Сasino en ligne")
		.footer__discr__respons-game
			p.footer__discr__respons-game__title Auto-exclusion volontaire
			p.footer__discr__respons-game__text Vous êtes responsable du respect des lois de votre pays lors de la participation à des jeux d’argent en ligne. Ce site contient des liens vers des opérateurs dont l’autorisation peut varier selon les juridictions. Jouer comporte des risques : pertes financières, dépendance. Besoin d’aide ? Belgique – 0800 35 777, Canada – 1-888-230-3505, France – 09 74 75 13 13, Suisse – 0800 801 381.
			p.footer__discr__respons-game__text Toute personne peut demander une interdiction volontaire de jeu auprès de l’Autorité nationale des jeux. Cette interdiction concerne les casinos, clubs de jeux, sites de paris et de jeux en ligne, ainsi que La Française des Jeux et le PMU. Durée minimale : trois ans, avec prolongation automatique.
		ul.footer__discr__pages
			li.footer__discr__page
				a(href="/cookie-policy.html").footer__discr__page__link Politique relative aux cookies
			li.footer__discr__page
				a(href="/privacy-policy.html").footer__discr__page__link Politique de confidentialité
			li.footer__discr__page
				a(href="/terms-use.html").footer__discr__page__link Conditions d'utilisation
			li.footer__discr__page
				a(href="/resp-game.html").footer__discr__page__link Jeu responsable
div(data-modal).backdrop
	.modal
		.modal__wrapper
			img(src="img/18.png" alt="Сasino en ligne").mobal__age
			h3.modal__title Accès réservé aux 18+
			p.modal__text Le contenu de ce site est réservé aux personnes majeures (18 ans et plus). En entrant, vous confirmez avoir au moins 18 ans. Jouez de manière prudente et responsable.
			.modal__btn__container
				button(type="button" data-menu-age="true").modal__btn J’ai 18 ans ou plus
				button(type="button" data-menu-age="false").modal__btn Je n’ai pas 18 ans
			p.modal__text En continuant, vous acceptez nos <a href="pages/conditions.html">Conditions</a> et notre <a href="pages/policy.html">Politique de confidentialité</a>.