header.header
    nav.nav
        ul.nav__list
            li.nav__item.des
                a(href="#offers").nav__link Offres
            li.nav__item.des
                a(href="#aboutUs").nav__link À propos de nous
            li.nav__item.nav__logo
                a(href="/index.html").nav__link
                    img(src="img/header-logo.png" alt="Сasino en ligne")
            li.nav__item.des
                a(href="#faq").nav__link FAQ
            li.nav__item.des
                a(href="#responsGame").nav__link Jeu responsable
        button(type="button" data-menu-button).nav__menu-btn
            svg(width="25" height="25").nav__menu-btn__icon
                path(d="M6.4 11.734v-2.134h19.2v2.134h-19.2zM6.4 17.066h19.2v-2.133h-19.2v2.133zM6.4 22.4h19.2v-2.134h-19.2v2.134z" fill="#967140")
        ul(data-menu).nav__list__mob
            li.nav__item
                a(href="#offers").nav__link Offres
            li.nav__item
                a(href="#aboutUs").nav__link À propos de nous
            li.nav__item
                a(href="#faq").nav__link FAQ
            li.nav__item
                a(href="#responsGame").nav__link Jeu responsable
main
    section.pages
        .pages__content
            h2.pages__title Notre engagement envers votre vie privée
            p.pages__text Sur <span>bestfranceoffer.com</span>, votre confidentialité est importante. Nous ne collectons que l’essentiel, uniquement dans le but d’améliorer votre navigation ou de répondre à vos demandes. Pas de profilage inutile, pas de revente de données. C’est une question de respect.
        .pages__content
            h2.pages__title Quelles informations sont collectées ?
            p.pages__sub-title Selon votre navigation, il se peut que nous recueillions :
            p.pages__text &#9679; Des données que vous nous fournissez : par exemple, si vous nous écrivez via un formulaire de contact.
            p.pages__text &#9679; Des informations techniques liées à votre visite : type de navigateur, pages vues, temps de consultation, etc.
            p.pages__sub-title Aucune de ces données n’est utilisée pour vous suivre personnellement. Elles servent uniquement à mieux comprendre comment le site est utilisé.
        .pages__content
            h2.pages__title Pourquoi les utiliser ?
            p.pages__sub-title Nos objectifs sont simples :
            p.pages__text &#9679; Offrir une expérience fluide et agréable
            p.pages__text &#9679; Répondre à vos messages quand vous nous contactez
            p.pages__text &#9679; Observer de manière générale ce qui plaît (ou non) sur le site
            p.pages__sub-title Les données sont anonymes ou minimales, et ne quittent jamais notre environnement sécurisé.
        .pages__content
            h2.pages__title Vous souhaitez modifier ou supprimer vos données ?
            p.pages__text Vous pouvez désactiver les cookies dans les paramètres de votre navigateur. Cela pourrait affecter légèrement votre navigation, mais le site restera accessible.
            p.pages__text Pas de souci. Si vous voulez en savoir plus sur les infos que nous stockons, ou si vous souhaitez les corriger ou les faire supprimer, écrivez-nous simplement à
                a(href="mailto:support@bestfranceoffer.com") support@bestfranceoffer.com
footer#responsGame.footer
    ul.footer__tech-page__list
        li.footer__tech-page__item
            a(href="https://www.gambleaware.org/" target="_blank").footer__tech-page__link
                img(src="img/gambleaware.png" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://www.gamcare.org.uk/" target="_blank").footer__tech-page__link
                img(src="img/gamcare.jpg" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://mediateurdesjeuxenligne.fr/" target="_blank").footer__tech-page__link
                img(src="img/mediateurdesjeuxenligne.jpeg" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://anj.fr/english" target="_blank").footer__tech-page__link
                img(src="img/anj.jpg" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://www.joueurs-info-service.fr/" target="_blank").footer__tech-page__link
                img(src="img/joueurs.png" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://mediateur-jeux.fr/" target="_blank").footer__tech-page__link
                img(src="img/mediateurdesjeuxenligne.jpeg" alt="Сasino en ligne")
    .footer__discr
        .footer__discr__danger
            img(src="img/18.png" alt="Сasino en ligne")
        .footer__discr__respons-game
            p.footer__discr__respons-game__title Auto-exclusion volontaire
            p.footer__discr__respons-game__text Vous êtes responsable du respect des lois de votre pays lors de la participation à des jeux d’argent en ligne. Ce site contient des liens vers des opérateurs dont l’autorisation peut varier selon les juridictions. Jouer comporte des risques : pertes financières, dépendance. Besoin d’aide ? Belgique – 0800 35 777, Canada – 1-888-230-3505, France – 09 74 75 13 13, Suisse – 0800 801 381.
            p.footer__discr__respons-game__text Toute personne peut demander une interdiction volontaire de jeu auprès de l’Autorité nationale des jeux. Cette interdiction concerne les casinos, clubs de jeux, sites de paris et de jeux en ligne, ainsi que La Française des Jeux et le PMU. Durée minimale : trois ans, avec prolongation automatique.
        ul.footer__discr__pages
            li.footer__discr__page
                a(href="/cookie-policy.html").footer__discr__page__link Politique relative aux cookies
            li.footer__discr__page
                a(href="/privacy-policy.html").footer__discr__page__link Politique de confidentialité
            li.footer__discr__page
                a(href="/terms-use.html").footer__discr__page__link Conditions d'utilisation
            li.footer__discr__page
                a(href="/resp-game.html").footer__discr__page__link Jeu responsable