header.header
    nav.nav
        ul.nav__list
            li.nav__item
                a(href="#offers").nav__link Offres
            li.nav__item
                a(href="#aboutUs").nav__link À propos de nous
            li.nav__item.nav__logo
                a(href="/index.html").nav__link
                    img(src="img/header-logo.png" alt="Сasino en ligne")
            li.nav__item
                a(href="#faq").nav__link FAQ
            li.nav__item
                a(href="#responsGame").nav__link Jeu responsable
        button(type="button" data-menu-button).nav__menu-btn
            svg.nav__menu-btn__icon
                path(d="M6.4 11.734v-2.134h19.2v2.134h-19.2zM6.4 17.066h19.2v-2.133h-19.2v2.133zM6.4 22.4h19.2v-2.134h-19.2v2.134z")
main
    section.pages
        h2.pages__title Term-Use
footer#responsGame.footer
    ul.footer__tech-page__list
        li.footer__tech-page__item
            a(href="https://www.gambleaware.org/" target="_blank").footer__tech-page__link
                img(src="img/gambleaware.png" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://www.gamcare.org.uk/" target="_blank").footer__tech-page__link
                img(src="img/gamcare.jpg" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://mediateurdesjeuxenligne.fr/" target="_blank").footer__tech-page__link
                img(src="img/mediateurdesjeuxenligne.jpeg" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://anj.fr/english" target="_blank").footer__tech-page__link
                img(src="img/anj.jpg" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://www.joueurs-info-service.fr/" target="_blank").footer__tech-page__link
                img(src="img/joueurs.png" alt="Сasino en ligne")
        li.footer__tech-page__item
            a(href="https://mediateur-jeux.fr/" target="_blank").footer__tech-page__link
                img(src="img/mediateurdesjeuxenligne.jpeg" alt="Сasino en ligne")
    .footer__discr
        .footer__discr__danger
            img(src="img/18.png" alt="Сasino en ligne")
        .footer__discr__respons-game
            p.footer__discr__respons-game__title Auto-exclusion volontaire
            p.footer__discr__respons-game__text Vous êtes responsable du respect des lois de votre pays lors de la participation à des jeux d’argent en ligne. Ce site contient des liens vers des opérateurs dont l’autorisation peut varier selon les juridictions. Jouer comporte des risques : pertes financières, dépendance. Besoin d’aide ? Belgique – 0800 35 777, Canada – 1-888-230-3505, France – 09 74 75 13 13, Suisse – 0800 801 381.
            p.footer__discr__respons-game__text Toute personne peut demander une interdiction volontaire de jeu auprès de l’Autorité nationale des jeux. Cette interdiction concerne les casinos, clubs de jeux, sites de paris et de jeux en ligne, ainsi que La Française des Jeux et le PMU. Durée minimale : trois ans, avec prolongation automatique.
        ul.footer__discr__pages
            li.footer__discr__page
                a(href="/cookie-policy.html").footer__discr__page__link Politique relative aux cookies
            li.footer__discr__page
                a(href="/privacy-policy.html").footer__discr__page__link Politique de confidentialité
            li.footer__discr__page
                a(href="/terms-use.html").footer__discr__page__link Conditions d'utilisation
            li.footer__discr__page
                a(href="/resp-game.html").footer__discr__page__link Jeu responsable